option_settings:
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    JVM Options: "-Dlogging.file=/var/log/tomcat8/application.log"

files:
  "/etc/awslogs/config/logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/tomcat8/application.log]
      file = /var/log/tomcat8/application.log
      log_group_name = /aws/elasticbeanstalk/your-environment-name/var/log/tomcat8/application.log
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S
